// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
	text-align: center;
}

h2.welcome{
	text-align: center;
}

p.buttons{
	text-align: center;
}

p.notice{
	text-align: right;
}